*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix::before,.clearfix::after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.w{
	width: 1200px;
	margin: auto;
}
.header{
	height: 42px;
	margin: 30px auto;
}
.logo{
	float: left;
	width: 198px;
	height: 42px;
	
}
.nav{
	float: left;
	margin-left: 60px;
}
.nav li{
	float: left;
	margin: 0 15px;
}
.nav li a{
	display: block;
    height: 42px;
	padding: 0 10px;
	line-height: 42px;
	font-size: 18px;
	color: black;
	text-decoration:none;
}
.nav ul li a:hover{
	border-bottom:  2px solid blue;
}
/* 搜素框 */
.search{
	float: left;
	width: 412px;
	height: 42px;
	margin-left: 70px;
}
.search input{
	float: left;
	width: 345px;
	height: 40px;
	border: 1px solid #0099ff;
	border-right: 0;
	padding-left: 15px;
	font-size: 14px;
}
.search button{
	float: left;
	width: 50px;
	height: 42px;
	border: 0;
	background:url(../image/btn.png);
}
.user{
	float: right;
	line-height: 42px;
	margin-right: 30px;
	font-size: 14px;
	vertical-align: middle;
}

.banner{
	height: 421px;
	background-color: #330066;
}
.banner .w{
	height: 421px;
	background:url(../image/banner2_20190819_210028.png) no-repeat top center;
}
.subnav{
	float: left;
	width: 190px;
	height: 421px;
	background-color: #000033;
}
.subnav li{
	line-height: 45px;
	height: 45px;
    padding: 0 20px;
}
.subnav ul li a{
	font-size: 14px;
	color: white;
}
.subnav ul li a span{
	float: right;
}
.subnav ul li a:hover{
	color: #0099FF;
}
.timetable{
	float: right;
	width: 230px;
	height: 300px;
	margin-top: 50px;
	background-color: white;
}
.timetable h2{
	height: 48px;
	background-color: #99ccff;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
	color: #FFFFFF;
}
.bd{
	padding: 0 20px;
}
.bd ul li{
	padding: 14px 0;
	border-bottom: 1px solid #4E4E4E;
}
.bd ul li h4{
	font-size: 16px;
	color: #4e4e4e;
}
.bd ul li p{
	font-size: 12px;
	color: #a5a5a5;
}
.bd .more{
	display: block;
	height: 38px;
	border: 1px solid #004aff;
	text-align: center;
	line-height: 38px;
	margin-top: 7px;
	color: #0099ff;
	font-size: 16px;
	font-weight: 700;
}
/* 精品推荐模块 */
.goods{
	height: 60px;
	margin-top: 10px;
	line-height: 60px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0, 0.2);
}
.goods h3{
	float: left;
	margin-left: 30px;
	font-size: 16px;
	color: #00a4ff;
}
.goods ul{
	float: left;
	margin-left: 30px;
}
.goods ul li{
	float: left;
}
.goods ul li a{
	padding: 0 30px;
	font-size: 16px;
	border-left: 1px solid #ccc;
}
.mod{
	float: right;
	margin-right: 30px;
	font-size: 14px;
	color: #00a4ff;
}
.box{
	margin-top: 30px;
}
.box-hd{
	 height: 43px;
}
.box-hd h3{
	float: left;
	font-size: 20px;
	color: #494949;
}
.box-hd a{
	float: right;
	font-size: 12px;
	color: #a5a5a5;
	margin-top: 10px;
	margin-right: 30px;
}
.box ul{
    width: 1225px;
}
.box-bd ul li{
	float: left;
	width: 228px;
	height: 270px;
	margin-left: 15px;
	margin-top: 15px;
}
.box-bd ul li img{
	width: 100%;
}
.box-bd ul li h4{
	margin: 0 20px 0 25px ;
	font-size: 14px;
	font-weight: 400;
	color: #494949;
}
.box-bd .info{
	margin: 0 20px 0 25px;
	font-size: 12px;
	color: #999999;
}
.box-bd .info span{
	color: #ff7c2d;
}
.footer{
	height: 415px;
	background-color: #bdc3c7;
}
.footer .w{
	padding-top: 35px;
}
.copyleft{
	float: left;
}
.copyleft p{
	font-size: 12px;
	color: #666;
	margin: 20px 0 15px 0 ;
}
.copyleft .app{
	display: block;
	width: 118px;
	height: 33px;
	border: 1px solid #004aff;
	text-align: center;
	line-height: 33px;
	color: #2980b9;
}
.links{
	float: right;
}
.links dl{
	float: left;
	margin-left: 100px;
}
.links dl dt{
	font-size: 16px;
	color: #333;
	margin-bottom: 5px;
}
.links dl dd a{
	color: #333;
	font-size: 12px;
}

.prog-hd{
	height: 43px;
	display: flex;
}
.prog-hd ul{
	margin: 0 auto;
}
.prog-hd ul li{
         float: left;
}
.prog-hd ul li a{
	font-size: 16px;
	padding: 0 39px;
	color: #999999;
	margin-top: 10px;
}
.prog-hd ul li a:hover{
	color:#99ccff ;
}
.prog-hd h2{
	font-size: 20px;
	font-weight: 400;
}
.boos{
	margin-right: 30px;
	margin-top: 7px;
	font-size: 13px;
}
.prog-bd{
	height: 400px;
	
}
.prog-bd .b-left{
	float: left;
	background:url(../image/图层148.png) no-repeat;
	height: 400px;
	width: 227px;
}

.b-left h2{
	font-size: 18px;
	color: white;
	margin-top: 30px;
	margin-left: 32px;
	
}

.b-left ul{
	margin-top: 32px;
	margin-left: 33px;
}
.b-left ul li{
	 padding-top: 40px;
}
.b-left ul li a{
	   color: white;
	   font-size: 15px;
	  
}
.b-right{
	float: right;
}
.b-right ul li{
	background: url(../image/图层145.png);
	float: left;
	width: 228px;
	height: 270px;
	margin-left: 10px;
	margin-top: 10px;
}
.b-right .kk{
	margin-top: 180px;
	margin-left: 10px;
	
}
.kk h4{
	font-weight: 400;
	font-size: 14px;
}
.kk p{
	margin-top: 7px;
	font-size: 12px;
	color:#ccc;
}
.kk p span{
	color: #ff6633;
}